.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}

.TodoCounter--completed {
  color: #2ecc71;
  font-weight: bold;
  animation: popIn 0.5s ease-out;
}

@keyframes popIn {
  0% { 
    transform: scale(0.8); 
    opacity: 0; 
  }
  100% { 
    transform: scale(1); 
    opacity: 1; 
  }
}

.TodoCounter-loading {
  opacity: 25%;
}